.CustomTable thead tr th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.CustomTable thead tr th:first-child {
  width: 30px;
  text-align: center;
}

.CustomTable tbody tr td:first-child {
  text-align: center;
}

.CustomTable tbody {
  font-size: 14px;
}

tr.selected-row td {
  background-color: #5bb9bb !important;
  color: white;
}

tr td {
  cursor: pointer;
}
